:root{
    --mc : #212529;
    --sc : #868484;
}

.option-box{
    .color-option{
        background-color: #333;
        border: 3px solid var(--sc);
    }

    li{
        background-color: var(--sc);
    }

    .gear-check{
        background-color:var(--sc);
        color: #fff;
    }
}

nav{
    background-color: var(--mc) !important;

    .navbar-toggler{
        color: black !important;
        background-color:var(--sc)
    }
}

#home-list , #owner{
    color:var(--sc) !important;
}

.person-name{
    background-color: var(--mc);

    .hello{
        color : var(--sc) !important;
    }

    .name{
        color : white;
    }

    .h3{
        color : white;
    }

    .img-container{
        border: 1px solid var(--sc);
        box-shadow: 6px 6px 4px #d4c3c3;
    }
}

.contact{
    background-color: var(--mc);
    li{
        color : white;
    }
    i{
        color: var(--sc);
    }
}



.skill-container{
    background-color: var(--mc);
        button{
            background-color: var(--sc);
        }
}


.education-header {
    .h1{
        color : var(--sc);
    }
}

.skills{
    .h1{
        color : var(--sc)
    }
}

.certificate{
    .h1{
        color: var(--sc);
    }

    li{
        line-height: 2.5;
    }

    i{
        color: var(--sc);
    }

}

.projects{
    .h1{
        color: var(--sc);
    }
}

.project-image {
    .carousel-indicators button {
        background-color: var(--mc);
    }

    .carousel-caption {
        color: var(--sc);
    }
}