:root{
    --mc : rgb(248, 178, 233);
    --sc : #f10b31;
    --tc : #212529;
}

.option-box{
    .color-option{
        background-color: #333;
        border: 3px solid var(--sc);
    }

    li{
        background-color: var(--sc);
    }

    .gear-check{
        background-color:var(--sc);
        color: var(--mc);
    }
}

nav{
    background-color: var(--mc) !important;

    .navbar-toggler{
        color: black !important;
        background-color:var(--sc)
    }
}

#home-list , #owner{
    color:var(--sc) !important;
}

.person-name{
    background-color: var(--mc);

    .hello{
        color : var(--sc) !important;
    }

    .name{
        color : black;
    }

    .h3{
        color : black;
    }

    .img-container{
        border: 1px solid var(--sc);
        box-shadow: 6px 6px 4px var(--sc);
    }
}

.contact{
    background-color: var(--mc);
    i{
        color: var(--sc);
    }
}



.skill-container{
    background-color: var(--mc);
        button{
            background-color: var(--sc);
        }
}


.education-header {
    .h1{
        color : var(--sc);
    }
}

.skills{
    .h1{
        color : var(--sc)
    }
}

.certificate{
    .certificate-content{
        border:1px solid var(--sc);
    }
    
    .h1{
        color: var(--sc);
    }

    .card-body{
        background-color: var(--mc);
    }

    i{
        color: var(--sc);
    }

}

.projects{
    .h1{
        color: var(--sc);
    }
}

.project-image {
    .h1{
        color : var(--sc)
    }
    .carousel-indicators button {
        background-color: var(--mc);
    }

    .carousel-caption {
        color: var(--sc);
    }
}

footer{
    .h1{
        color:var(--sc)
    }

    background-color: var(--mc);
    i{
        color: var(--sc);
    }
}
